h1,
h2,
h3,
p,
.big-today-temperature {
  font-weight: bold;
  font-size: 2vw;
}
span {
  font-size: 1.5vw;
  font-weight: 400;
}

h1 {
  color: #006ec5;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  display: block;
  border-color: transparent;
  font-family: "Pacifico", cursive;
  font-family: "Play", sans-serif;
  font-size: large;
  background: radial-gradient(
    992px at 3.9% 40.3%,
    rgb(15, 224, 254, 0.2) 7.5%,
    rgb(139, 255, 114, 0.2) 64.7%,
    rgb(239, 226, 54, 0.2) 90.5%
  );
}

img.responsive {
  width: 100%;
  height: auto;
}

.container {
  border: 2px solid rgb(164, 232, 246, 0.5);
  border-radius: 5px;
  padding: 0;
  transition: all 200ms ease-in-out;
}

div.row.search-components,
.week-container,
.today-container,
.precipitation-container,
.borders-settings {
  text-align: center;
}

.today-container,
.precipitation-container {
  padding-top: 50px;
}

.precipitation-container {
  border: var(--bs-border-width) var(--bs-border-style) #dee2e636 !important;
}

.form-group {
  display: inline;
}

.borders-settings {
  border: 2px solid rgb(164, 232, 246);
  border-radius: 5px;
  margin-top: 30px;
  transition: all 200ms ease-in-out;
}

.borders-settings:hover {
  border-color: #31d2f2;
}

.card {
  margin: 0 auto;
  --bs-card-spacer-y: 2rem;
  --bs-card-spacer-x: 0rem;
  --bs-card-title-spacer-y: 0rem;
  --bs-card-border-width: 0px;
  --bs-card-border-color: var(--bs-border-color-translucent);
}

.search-components {
  align-content: center;
}

.card-body {
  padding: 0 0;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0 * var(--bs-gutter-y));
  margin-right: calc(0 * var(--bs-gutter-x));
  margin-left: calc(0 * var(--bs-gutter-x));
}

.form-control {
  display: inline;
  width: 30%;
  align-content: center;
}
div.row.g-0 {
  padding: 50px;
}

.sourse-link {
  font-size: 1vw;
  font-weight: 400;
  padding-left: 50px;
}

.active-celsius {
  color: hsl(0, 0%, 0%, 0.9);
  text-decoration: none;
  cursor: default;
}
.active-celsius:hover {
  color: hsl(0, 0%, 0%, 0.9);
  text-decoration: none;
}
.active-fahrenheight {
  text-decoration: none;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
